{% extends 'base.html' %}

{% block header %}
{% block title %}
Status
{% endblock %}
{% endblock %}

{% block content %}
    <p>
    Welcome to the resource dashboard. Please follow the links to move around.
    </p>
    <p>
        {% if status_list %}
        <table>
          <tr>
            <th>Machine</th>
            <th>Last Received (mins ago)</th>
          </tr>
                {% for row in status_list %}
                <tr style="background-color:{{ row['status_color'] }}">
                    <td>{{ row['name'] }}</td>
                    <td style="text-align: right" >{{ row['time_diff_mins'] }}</td>
                </tr>
                {% endfor %}
        </table>

        {% else %}
            <em>Status not wired up...</em>
        {% endif %}
    <p>
{% endblock %}